body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
@media (max-width: 768px) {
    body{
        display: grid;
        grid-template-columns: repeat(auto-fill) minmax((min 100%, 25rem), 1fr);
    }
}
.header {
    display: flex;
    text-align:center;
    justify-content: space-between;
    padding: 10px;
    background-color: #00913f;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}
@media (max-width: 600px) {
    .header{
        margin-bottom: 2px;
        box-shadow: 0px 4px 8px rgb(0, 0, 0);
    }
    
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-name {
    margin: 0;
    color: transparent;
    background-image: linear-gradient(to right, #b8fdb8, #7df17d, #FFFFFF, #31f894);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  

}

.navigation {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
}


.navigation li {
    font-weight: bold;
    padding-top: 0.5rem;
    padding: 10px;
}

.navigation li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.navigation li:hover {
    color: #48ff00;
    background-color: #00000070;
    box-shadow: 5px 5px 5px #362424;
     border-radius: 5%; 
}

.navigation li a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00913f;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

.productos, h1, p{
    text-align: center;
}

.content {
    position: relative;
    width: 100%;
    
    height: 100vh;
    /* Ajusta el alto al 100% de la ventana */
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    float: left;
    padding-top: 10rem;
}
@media (max-width: 600px) {
    .content {
        background-color: #BBEEA2;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='99' height='99' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2396c87f' fill-opacity='0.62'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.62'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 92%;
    /* Ajusta el alto al 100% del contenedor */
    object-fit: cover;
    z-index: -1;
    border-radius: 1px;
}


.content-overlay {
    width: 50%;
    height: 40%;
    position: relative;
    z-index: 1;
    /* Asegura que el contenido esté encima del video */
    text-align: justify;
    color: white;
    float: left;

}
@media (max-width: 600px) {
    .content-overlay{
        color: #000000;
        text-align: left;
    }
}
.content .buttons{
    padding-inline: 10px;
}

.content h1 {
    text-align: left;
    font-size: 40px;
    margin: 0;
    /* Elimina los márgenes superior e inferior */
}

.content h2 {
    font-size: 28px;
}
.content .buttons h3{
    padding: 0.1rem ;
    padding-inline: -2px;
}

.logo-name img {
    width: 100px;
    height: auto;
}

.image-section {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 1200px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.image-item p {
    margin: 10px 10PX;
    font-size: 18px;
}

.image-item button {
    padding: 10px 20px;
    background-color: #00913f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal-image {
    max-width: 30%;
    /* Ajusta el ancho máximo de la imagen */
    max-height: 30vh;
    /* Ajusta la altura máxima de la imagen */
}

.modal-content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal.active .modal-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.quienes-somos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 97%;
    margin: 0 auto;
    justify-content: center;
    background: linear-gradient(rgba(0, 128, 255, 0.5), rgba(255, 255, 255, 0.8));
    padding: 20px;
    /* Añade un poco de espacio al contenedor */
    border-radius: 10px;
}

.quienes-somos-item {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 20px);
    padding: 20px;
    margin: 10px;
}

.quienes-somos-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.quienes-somos-text {
    flex: 1;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0;
}

.footer-logo img {
    width: 80px;
    top: 0px 10px;
    height: auto;
    margin-right: 10px;
}

.footer-divider {
    width: 1px;
    background-color: white;
    height: 50px;
    margin: 0 20px;
}

.footer-info h3,
.footer-legal h3,
.footer-social h3 {
    margin: 0;
}

.footer p {
    margin: 10px 0;
    font-size: 20px;
}

.footer-legal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-legal li {
    margin: 5px 0;
}

.footer-legal a {
    text-decoration: none;
    color: white;
}

.footer-social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid white;
    font-size: 14px;
}


.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #00913f;
    color: white;
    padding: 0.1rem;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    border: 1px #333;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 5px #0a0a0a;
}

button:hover {
    background-color: #00662e;
}

button{
    box-shadow: 0 0 5px white,
    0 0 25px white;
}



button:hover {
    background-color: #00662e;
    box-shadow: 0 0 5px white, 
    0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
}


.modal-button{
    box-shadow: 0 0 5px rgb(25, 25, 25),
    0 0 25px rgb(0, 0, 0);
}



.modal-button:hover {
    background-color: #00662e;
    box-shadow: 0 0 5px rgb(0, 0, 0), 
    0 0 25px rgb(0, 0, 0), 0 0 50px rgb(7, 7, 7), 0 0 100px rgb(0, 0, 0), 0 0 200px rgb(0, 0, 0);
}


table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #0f8a17;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#addProductButton {
    background-color: #00913f;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    margin-bottom: 10px;
}

#addProductButton:hover {
    background-color: #007d36;
}



#addProductForm {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#addProductForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#addProductForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addProductForm button {
    background-color: #00913f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#addProductForm button:hover {
    background-color: #007d36;
}


#cerrarSesion a {
    background-color: #ff1111;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

#cerrarSesion a:hover {
    background-color: #a90000;
}

